@tailwind base;
@tailwind components;
@tailwind utilities;

/* common style here */

@layer components {

  .checkoutHeading {
    @apply mt-[130px] text-[39px] font-bold font-dm
  }

  .checkoutInput {
    @apply w-full border-b-[1px] pt-[10px] pb-4 border-[#F0F0F0] outline-none
  }

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}