@tailwind base;
@tailwind components;
@tailwind utilities;

/* common style here */

@layer components {

  .checkoutHeading {
    @apply mt-[130px] text-[39px] font-bold font-dm
  }

  .checkoutInput {
    @apply w-full border-b-[1px] pt-[10px] pb-4 border-[#F0F0F0] outline-none
  }

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* NewArrivals Swiper slider style */
.swiper-button-prev,
.swiper-button-next {
  top: 40%;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #979797;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 19px;
  color: white;
}